.container {
  height: 100vh;
  background: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%);
  padding: 16px;
  .title {
    font-size: 1.2rem;
  }
  > :nth-child(3) {
    /* background-color: #fff; */
    /* flex: 1;
    max-height: 20rem;
    overflow: hidden; */
  }

  :global {
    .adm-list-default .adm-list-body {
      border: none;
    }
    .adm-list-item {
      padding-left: 0;
    }
  }

  .moon {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
  }
  
  .deposit {
    .tab-title {
      margin-bottom: -10px;
      height: 4rem;
    }
    .inner {
      background: #ffffff;
      border: 1px solid #31b7d3;
      padding: 1rem 1.5rem 3rem;
      border-radius: 0.75rem;
    }
    .tab {
      margin-bottom: 1rem;
    }
  }
  
  .amount-selector {
    position: relative;
    .line {
      display: block;
      height: 1px;
      background-color: #ebedf0;
      position: relative;
      top: 0.9rem;
      margin: 0 1rem;
    }
    .selector-item {
      position: relative;
      z-index: 2;
      .dot {
        display: block;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 100%;
        background: #e1e5eb;
        border: 1px solid #798394;
        box-sizing: border-box;
      }
      .amount {
        font-size: 1rem;
        color: #666;
      }
      &.current .amount {
        color: #31b7d3;
      }
      &.current .dot {
        width: 0.5rem;
        height: 0.5rem;
        box-sizing: content-box;
        background: #fff;
        border: 0.63rem solid #31b7d3;
      }
    }
  }

}


